body{
    background-color: rgb(4, 29, 29);;
    font-family: 'Poppins', sans-serif;
 }
 h2 img{
    height: 30px;
    width:30px;
    margin-left: 10px;
   
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 65px;
 }
 input{
    border-radius: 50px;
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;
    background: transparent;


 }
 button{
    width: 60px;
    height: 41px;
    background-color: #ff5945;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color:whitesmoke;
    color: black;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }